<div id="<%= dom_id customer %>">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

  <p>
    <strong>Stripe customer:</strong>
    <%= customer.stripe_customer_id %>
  </p>

  <p>
    <strong>Stripe subscription id:</strong>
    <%= customer.stripe_subscription_id %>
  </p>

</div>
